@use '../variables' as own;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$width: 150px;

@mixin ribbon-base ($bgcolor) {
  background: $bgcolor;
  bottom: 0;
  height: 30px;
  padding: 3px 20px 0 0;
  position: absolute;
  right: - own.$gap-half - .5rem;
  width: $width;

  @include media-breakpoint-up(sm) {
    height: 40px;
    padding-top: 7px;
    width: $width + 20px;
  }

  &::before {
    border-bottom: (30px / 2) solid transparent;
    border-right: (30px / 2 - 5px) solid $bgcolor;
    border-top: (30px / 2) solid transparent;
    content: '';
    height: 0;
    left: -9px;
    position: absolute;
    top: 0;
    width: 0;

    @include media-breakpoint-up(sm) {
      border-bottom: (40px / 2) solid transparent;
      border-right: (40px / 2 - 5px) solid $bgcolor;
      border-top: (40px / 2) solid transparent;
      height: 40px;
      left: -14px;
    }
  }
}

@mixin ribbon-back {
  &::after {
    border-bottom: 8px solid own.$black;
    border-right: 8px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 0.1px;
    top: -8px;
    width: 0;
  }
}

@mixin ribbon-shadow ($bgcolor) {
  background: $bgcolor;
  bottom: 4px;
  height: 30px;
  opacity: .9;
  position: absolute;
  right: -20px;
  width: $width - 5px;

  @include media-breakpoint-up(sm) {
    bottom: 5px;
    height: 40px;
    width: $width + 20px - 5px;
  }

  &::before {
    border-right-color: $bgcolor;
  }
}
