@use '../variables' as own;
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@mixin text-heading-4 {
  color: own.$gray-600;
  font-family: 'jost', serif;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: own.$size-xs;
}

@mixin text-heading-3 {
  font-family: 'jost', serif;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: own.$size-sm;

  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }
}

@mixin text-heading-3-light {
  font-family: 'quicksand', serif;
  font-size: 1rem;
  font-weight: 100;
  padding-bottom: own.$size-sm;

  @include media-breakpoint-up(sm) {
    font-size: 1.25rem;
  }
}

@mixin text-heading-2 {
  font-family: 'jost', serif;
  font-size: 1.25rem;
  font-weight: 400;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }
}

@mixin text-heading-2-light {
  font-family: 'quicksand', serif;
  font-size: 1.25rem;
  font-weight: 100;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }
}

@mixin text-heading-1 {
  font-family: 'jost', serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
}

@mixin text-body {
  color: own.$gray-dark;
  font-family: 'jost', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin text-light {
  color: own.$gray-dark;
  font-family: 'quicksand', serif;
  font-size: .85rem;
  font-weight: 600;
}

@mixin text-icon {
  font-family: 'icofont', serif;
  font-size: 1.5rem;
  font-weight: 600;
}
