@use '../../variables' as own;
@use '../../style-guide/typography';

.input,
.select {
  background-color: own.$white;
  border: 1px solid own.$gray;
  border-radius: own.$border-radius;
  height: 2.5rem;
  padding: .55rem own.$size-base;
  width: 100%;
}

.form-field {
  margin-bottom: own.$size-xs;

  .label {
    margin: 0;
  }

  .input-message {
    &::after {
      content: '\200b';
    }
  }
}

.form-field {
  &.is-error {
    .input,
    .select {
      border-color: own.$color-danger;
    }

    .input-message {
      @include typography.text-light;

      color: own.$color-danger;
      margin-left: own.$size-base;
    }
  }

  .input:focus {
    border-color: own.$color-a;
    outline: none;
  }
}
