@use '../../variables' as own;

.form-field {
  .select {
    appearance: none;
    cursor: pointer;
    display: block;
    font-size: 1em;
    outline: 0;
  }
}

.form-select-field {
  position: relative;

  &::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: ' ';
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;
  }

  &::after {
    border-color: own.$color-a;
    right: 1.125em;
    z-index: 4;
  }
}
