@use '../../variables' as own;
@use '../../style-guide/typography' as typography;

.form-group-title {
  @include typography.text-heading-2;

  border-left: own.$size-sm solid own.$color-a;
  padding-left: own.$size-xs;
}
