.cart-details .cart-summary {
  margin-top: 1rem;
}
.cart-details .cart-summary-line::after {
  display: block;
  clear: both;
  content: "";
}
.cart-details .cart-summary-line .term {
  font-family: "quicksand", serif;
  font-size: 1rem;
  font-weight: 100;
  padding-bottom: 0.75rem;
  float: left;
}
@media (min-width: 576px) {
  .cart-details .cart-summary-line .term {
    font-size: 1.25rem;
  }
}
.cart-details .cart-summary-line .value {
  font-family: "jost", serif;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.75rem;
  float: right;
}
@media (min-width: 576px) {
  .cart-details .cart-summary-line .value {
    font-size: 1.25rem;
  }
}

.cart-continue-line {
  margin-top: 1.25rem;
  text-align: center;
}

.cart-item-line {
  border-bottom: 1px solid #e9ecef;
  margin-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.cart-item-line .image {
  height: auto;
  width: 100%;
}
.cart-item-line .headline {
  color: #6c757d;
  font-family: "jost", serif;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
.cart-item-line .subheadline {
  font-family: "quicksand", serif;
  font-size: 1.25rem;
  font-weight: 100;
}
@media (min-width: 576px) {
  .cart-item-line .subheadline {
    font-size: 1.5rem;
  }
}
.cart-item-line .description {
  color: #495057;
  font-family: "quicksand", serif;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 1.5rem;
}
.cart-item-line .price-block {
  font-family: "jost", serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  position: absolute;
  right: 0;
  text-align: right;
  top: 50px;
}
@media (min-width: 576px) {
  .cart-item-line .price-block {
    font-size: 1.5rem;
  }
}
.cart-item-line .price-block.is-image-relative {
  right: 12px;
}
.cart-item-line:first-child {
  margin-top: 0;
}

.form-group-title {
  margin-bottom: 1rem;
}

html {
  overflow-y: scroll;
}

.ribbon {
  background: #007bff;
  bottom: 0;
  height: 30px;
  padding: 3px 20px 0 0;
  position: absolute;
  right: -1.75rem;
  width: 150px;
}
@media (min-width: 576px) {
  .ribbon {
    height: 40px;
    padding-top: 7px;
    width: 170px;
  }
}
.ribbon::before {
  border-bottom: 15px solid transparent;
  border-right: 10px solid #007bff;
  border-top: 15px solid transparent;
  content: "";
  height: 0;
  left: -9px;
  position: absolute;
  top: 0;
  width: 0;
}
@media (min-width: 576px) {
  .ribbon::before {
    border-bottom: 20px solid transparent;
    border-right: 15px solid #007bff;
    border-top: 20px solid transparent;
    height: 40px;
    left: -14px;
  }
}

.ribbon-back::after {
  border-bottom: 8px solid #000;
  border-right: 8px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0.1px;
  top: -8px;
  width: 0;
}

.ribbon-shadow {
  background: #e9ecef;
  bottom: 4px;
  height: 30px;
  opacity: 0.9;
  position: absolute;
  right: -20px;
  width: 145px;
}
@media (min-width: 576px) {
  .ribbon-shadow {
    bottom: 5px;
    height: 40px;
    width: 165px;
  }
}
.ribbon-shadow::before {
  border-right-color: #e9ecef;
}

/*# sourceMappingURL=checkout_style.css.map*/