@use '../variables' as own;
@use '../style-guide/typography';

body {
  @include typography.text-body;

  background-color: own.$white;
}

.page-title {
  @include typography.text-heading-1;

  margin-bottom: own.$size-lg;
  text-align: center;
}
