@use '../variables' as own;

.box {
  background-color: own.$white;
  border-radius: own.$border-radius;
  box-shadow: own.$box-shadow;
  color: own.$gray-dark;
  display: block;
  padding: own.$gap-half;
}
