@use '../variables' as own;
@use '../style-guide/typography';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.button {
  @include typography.text-heading-2;

  appearance: none;
  background-color: own.$color-a;
  border-radius: own.$border-radius * 3;
  border-style: none;
  box-shadow: none;
  color: own.$white;
  display: inline-block;
  height: 3rem;
  padding: 0 own.$gap-base;
  position: relative;

  &::before {
    background-color: rgba(255, 255, 255, 0.2);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width own.$base-duration;
    width: 0;
    z-index: 0;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }

  &.is-small {
    @include typography.text-heading-3;

    border-radius: own.$border-radius * 2;
    height: 2rem;
    padding: 0 own.$gap-half;
  }
}
