@use '../variables' as own;
@use '../style-guide/ribbon';

.ribbon {
  @include ribbon.ribbon-base(own.$color-a);
}

.ribbon-back {
  @include ribbon.ribbon-back;
}

.ribbon-shadow {
  @include ribbon.ribbon-shadow(own.$gray-light);
}
