@use '../variables' as own;
@use '../style-guide/typography';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.c-tabs-item {
  @include typography.text-heading-2;
  border: 1px solid own.$gray;
  border-radius: own.$border-radius;
  cursor: pointer;
  padding: own.$gap-quarter;

  &:hover {
    border-color: own.$color-a;
  }
}

.c-tabs-item.is-active {

  background-color: own.$color-a-light;

  .c-tabs-item-icon {
    transform: rotate(180deg);
    transition: transform .35s;
  }
}

.c-tabs-item-icon {
  transition: transform .35s;
}

.c-tabs-item-icon {
  float: right;
  margin-right: own.$gap-quarter;
}
