@use '../variables' as own;
@use '../style-guide/typography';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.c-tabbed-accordion-acc-item {
  overflow: hidden;
}

.c-tabbed-accordion-acc-item.tacc-is-active {
  .c-tabbed-accordion-content-frame {
    max-height: 100vh;
    transition: max-height .35s;
  }

  .c-tabbed-accordion-acc-header {
    margin-bottom: 0;
  }

  .c-tabbed-accordion-state-icon {
    transform: rotate(180deg);
    transition: transform .35s;
  }
}

.c-tabbed-accordion-content-frame {
  max-height: 0;
  transition: max-height .15s;
}

.c-tabbed-accordion-acc-header {
  @include typography.text-heading-2;
  cursor: pointer;
  padding: own.$gap-quarter;
}

.c-tabbed-accordion-content {
  padding: own.$gap-quarter;
}

.c-tabbed-accordion-tab-nav-item {
  @include typography.text-heading-2;
  cursor: pointer;
  padding: own.$gap-quarter;
}

.c-tabbed-accordion-tab-nav-item.tacc-is-active {
  .c-tabbed-accordion-state-icon {
    transform: rotate(180deg);
    transition: transform .35s;
  }
}

.c-tabbed-accordion-state-icon {
  transition: transform .35s;
}

.c-tabbed-accordion-state-icon {
  float: right;
  margin-right: own.$gap-quarter;
}

.c-tabbed-accordion-tab-nav-item,
.c-tabbed-accordion-acc-header,
.c-tabbed-accordion-content {
  margin-bottom: own.$gap-quarter;
}

.c-tabbed-accordion-theme-payment {
  .c-tabbed-accordion-acc-item.tacc-is-active {
    .c-tabbed-accordion-acc-header {
      background-color: own.$color-a-light;
    }
  }

  .c-tabbed-accordion-tab-nav-item.tacc-is-active {
    background-color: own.$color-a-light;
  }

  .c-tabbed-accordion-acc-header {
    border: 1px solid own.$gray;
    border-radius: own.$border-radius;

    &:hover {
      border-color: own.$color-a;
    }
  }

  .c-tabbed-accordion-content {
    border-color: own.$gray-light;
    border-radius: 0 own.$border-radius-lg own.$border-radius-lg own.$border-radius-lg;
    border-style: solid;
    border-width: 2px 1px 1px 2px;
    box-shadow: own.$box-shadow;
  }

  .c-tabbed-accordion-tab-nav-item {
    border: 1px solid own.$gray;
    border-radius: own.$border-radius;

    &:hover {
      border-color: own.$color-a;
    }
  }
}

@include media-breakpoint-up(md) {
  .c-tabbed-accordion-theme-payment {
    .c-tabbed-accordion-content {
      border-radius: own.$border-radius-lg;
      border-width: 1px;
    }
  }
}
