@use '../../variables' as own;
@use '../../style-guide/typography';
@use '~bootstrap/scss/mixins/clearfix' as bootstrap;

.cart-details {
  .cart-summary {
    margin-top: own.$size-base;
  }

  .cart-summary-line {
    @include bootstrap.clearfix;

    .term {
      @include typography.text-heading-3-light;

      float: left;
    }

    .value {
      @include typography.text-heading-3;

      float: right;
    }
  }
}

.cart-continue-line {
  margin-top: own.$gap-half;
  text-align: center;
}
