@use '../../variables' as own;
@use '../../style-guide/typography';

.cart-item-line {
  border-bottom: 1px solid own.$gray-light;
  margin-top: own.$size-base;
  padding-bottom: own.$size-base;
  position: relative;

  .image {
    height: auto;
    width: 100%;
  }

  .headline {
    @include typography.text-heading-4;
  }

  .subheadline {
    @include typography.text-heading-2-light;
  }

  .description {
    @include typography.text-light;

    margin-top: own.$size-md;
  }

  .price-block {
    @include typography.text-heading-2;

    color: own.$white;
    position: absolute;
    right: 0;
    text-align: right;
    top: 50px;

    &.is-image-relative {
      right: 12px;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}
