@use '../variables' as own;
@use '../style-guide/typography';

.font-icon {
  @include typography.text-icon;
}

.icofont-rounded-down::before {
  content: '\ea99';
}

.icofont-rounded-right::before {
  content: '\eaa0';
}
