@font-face {
  font-family: 'quicksand';
  font-style: normal;
  src: url('/ui/assets/font/quicksand/quicksand-regular.woff2') format('woff2'),
    url('/ui/assets/font/quicksand/quicksand-regular.woff') format('woff');
}

@font-face {
  font-family: 'jost';
  font-style: normal;
  src: url('/ui/assets/font/jost/jost-regular.woff2') format('woff2'),
    url('/ui/assets/font/jost/jost-regular.woff') format('woff');
}

@font-face {
  font-family: 'icofont';
  font-style: normal;
  src: url('/ui/assets/font/icofont/icofont.woff2') format('woff2'),
    url('/ui/assets/font/icofont/icofont.woff') format('woff');
}
