@use 'variables' as own;

$primary: own.$color-a;
$secondary: own.$gray;
$success: own.$color-success !default;
$warning: own.$color-warning !default;
$danger: own.$color-danger !default;
$light: own.$gray-light !default;
$dark: own.$gray-dark !default;

$grid-columns: 12;
$grid-gutter-width: 24px;
$grid-row-columns: 6;

$border-radius: own.$border-radius-lg;
$border-radius-lg: own.$border-radius-lg;
$border-radius-sm: own.$border-radius-sm;
