@use 'sass:color';

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$red: #dc3545;

$gray-light: $gray-200;
$gray: $gray-500;
$gray-dark: $gray-700;

$color-a: #007bff;
$color-a-light: color.scale($color-a, $lightness: +80%);
$color-success: #28a745;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-danger-discrete: rgba(220, 53, 69, 0.03);

$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;
$border-gray-light: 1px solid $gray-light;

$box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);

$size-base: 1rem;
$size-1: $size-base * 2.5;
$size-2: $size-base * 2;
$size-3: $size-base * 1.75;
$size-4: $size-base * 1.5;
$size-5: $size-base * 1.25;
$size-7: $size-base;
$size-8: $size-base * .75;
$size-9: $size-base * .5;
$size-10: $size-base * .25;

$size-xs: $size-9;
$size-sm: $size-8;
$size-base: $size-base;
$size-md: $size-4;
$size-lg: $size-2;

$gap-base: $size-1;
$gap-half: $gap-base / 2;
$gap-quarter: $gap-base / 4;

$base-duration: 0.5s;
