@use '../../variables' as own;

$font-size: 2;

.c-own-loading {
  position: relative;
}

.c-own-loading--icon {
  animation: loading-icon-spin 2s ease infinite;
  background: #fff;
  border-radius: 100%;
  height: $font-size+em;
  position: absolute;
  width: $font-size+em;

  &::before,
  &::after {
    animation: loading-icon-spin 2s ease infinite;
    background: inherit;
    border-radius: inherit;
    content: '';
    display: block;
    height: inherit;
    position: absolute;
    width: inherit;
  }

  &::before {
    left: -($font-size*1.15)+em;
  }

  &::after {
    left: ($font-size*1.15)+em;
  }
}

@keyframes loading-icon-spin {
  0% {
    top: 0;
    transform: rotate(0deg);
  }

  50% {
    top: -($font-size*2)+em;
    transform: rotate(-180deg);
  }

  100% {
    top: 0;
    transform: rotate(-360deg);
  }
}
