@use '../../variables' as own;
@use '../../style-guide/typography';

.c-own-modal {
  animation: modal-fade-out own.$base-duration;
  animation-fill-mode: forwards;

  .content-frame {
    background-color: own.$white;
    border-radius: own.$border-radius;
    position: relative;
  }

  .content-wrapper {
    padding: own.$gap-half;
  }

  .btn-close {
    align-items: center;
    background-color: transparent;
    border: 0;
    display: flex;
    font-size: 1.5rem;
    height: 2rem;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    transition: own.$base-duration linear;
    width: 2rem;

    &::before,
    &::after {
      background-color: own.$black;
      content: '';
      height: 0.125rem;
      position: absolute;
      width: 1.25rem;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    &:hover {
      transform: rotate(360deg);

      &::before,
      &::after {
        background-color: own.$red;
      }
    }
  }
}

.c-own-modal__is-visible {
  animation: modal-fade-in own.$base-duration;
  animation-fill-mode: forwards;
}

.c-own-modal-header {
  @include typography.text-heading-2;

  margin-bottom: own.$gap-half;
}

.c-own-modal-footer {
  margin-top: own.$gap-half;
  text-align: center;
}


@keyframes modal-fade-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes modal-fade-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}


