@use '../../variables' as own;

.c-own-overlay {
  align-items: center;
  animation: overlay-fade-out own.$base-duration;
  animation-fill-mode: forwards;
  backdrop-filter: blur(5px);
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}

.c-own-overlay__is-visible {
  animation: overlay-fade-in own.$base-duration;
  animation-fill-mode: forwards;
}

@keyframes overlay-fade-in {
  0% {
    background-color: transparent;
    left: 0;
  }

  100% {
    background-color: rgb(0, 0, 0, .5);
  }
}

@keyframes overlay-fade-out {
  0% {
    background-color: rgb(0, 0, 0, .5);
  }

  99% {
    left: 0;
  }

  100% {
    background-color: transparent;
    left: -9999px;
  }
}
